head 
  link(rel="stylesheet", href="style.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js") 
sectio.nav
  h1 FRONTEND TRENDS
  h3.span.loader
    span.m B
    span.m E
    span.m N
    span.m E
    span.m F
    span.m I
    span.m T
    span.m S
    span.m &nbsp;
    span.m o
    span.m f
    span.m &nbsp;
    span.m T
    span.m E
    span.m C
    span.m H
    span.m N
    span.m O
    span.m L
    span.m O
    span.m G
    span.m I
    span.m E
    span.m S
  .nav-container
    a.nav-tab(href="#tab-svelte") SVELTE
    a.nav-tab(href="#tab-esbuild") ESBUILD
    a.nav-tab(href="#tab-next") NEXT.JS
    a.nav-tab(href="#tab-typescript") TYPESCRIPT
    a.nav-tab(href="#tab-vite") VITE
    span.nav-tab-slider
main.main
  section#tab-svelte.slider
    h1 SVELTE
    h2 another frontend JS framework
  section#tab-esbuild.slider
    h1 ESBUILD
    h2 an extremely fast JavaScript bundler
  section#tab-next.slider
    h1 NEXT.JS
    h2 framework for Production
  section#tab-typescript.slider
    h1 TYPESCRIPT
    h2 giving you better tooling at any scale
  section#tab-vite.slider
    h1 VITE
    h2 a frontend build tool
canvas.background
script(src="app.js") 