canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.trail {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    pointer-events: none;
}
